<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodie</title>
</head>
<body>
   <header class="container">
       <h1  id="title">The Foodie</h1>
       <p class="tag-line">If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.</p>
   </header>

   <section class="container" id="main">
       <img src="../../assets/img/1.jpg">
       <img src="../../assets/img/1.jpg">
       <img src="../../assets/img/1.jpg">
       <img src="../../assets/img/1.jpg">
       <img src="../../assets/img/1.jpg">
       <img src="../../assets/img/1.jpg">
       <img src="../../assets/img/1.jpg">
       <img src="../../assets/img/1.jpg">
       <img src="../../assets/img/1.jpg">
   </section>
</body>
</html>