@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');*
{
    border: 0;
    margin: 0;
}
body,html
{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    background: white;
    background: url("../../assets/img/bg2.jpg") center center/cover no-repeat
}
header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 2rem;
}

.container
{
    max-width: 1100px;
    margin: 0 auto;
}

#title
{
    text-align: center;
    font-size: 5rem;
    display: inline-block;
   
}

.tag-line
{
    text-align: center;
    font-size: 1.5rem;
    
}

#main
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-row-gap: 1rem;
    justify-items: center;
    
}

#main img
{
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer
{
    height: 20vh;
    width: 100%;

    background: url("../../assets/img/bg3.jpg") center center/cover no-repeat
}
